---
import { getEntry } from "astro:content";
import cleanHTML from "../utils/cleanHTML";
import prettyDate from "../utils/prettyDate";
import { Image } from "astro:assets";
import Preview from "./Preview.astro";
import makePath from "../utils/makePath";

interface Props {
  id: string;
  next: string | undefined;
  prev: string | undefined;
}

const { id, prev, next } = Astro.props;

const article = await getEntry("articles", id);
if (!article) throw new Error(`Article ${id} not found`);

const { title, description, ogimage, date, body, aspectRatio } = article.data;

const d = prettyDate(date);
const cleaned = cleanHTML(body);

const prevArticle = prev ? await getEntry("articles", prev) : null;
const nextArticle = next ? await getEntry("articles", next) : null;
---

<article id={id}>
  <time
    datetime={date.toISOString()}
    class="block mb-3 text-sm opacity-60 font-medium tracking-wide uppercase"
  >
    {d}
  </time>
  <h2
    class="mb-4 text-2xl sm:text-3xl md:text-4xl font-medium leading-tighter tracking-tight"
  >
    {title}
  </h2>
  <p
    class="pb-6 sm:text-lg md:text-xl font-light leading-snug"
    set:html={description}
  />
  {
    aspectRatio && (
      <div class="flex mb-6 overflow-hidden border rounded">
        <Image
          src={ogimage}
          alt={title}
          width={606}
          height={606 / aspectRatio}
          densities={[1, 2]}
        />
      </div>
    )
  }
  <div class="prose dark:prose-invert mb-6" set:html={cleaned} />
</article>

<div class="grid grid-cols-2 overflow-hidden text-sm my-6">
  <div class="col-span-1">
    {
      prevArticle && (
        <a
          href={makePath(prevArticle.data.date, prevArticle.data.slug).href}
          class="block py-2 w-full"
        >
          <span>← Previous</span>
          <Preview
            date={prevArticle.data.date}
            title={prevArticle.data.title}
            slug={prevArticle.data.slug}
            hideDate={true}
          />
        </a>
      )
    }
  </div>
  <div class="col-span-1 text-right">
    {
      nextArticle && (
        <a
          href={makePath(nextArticle.data.date, nextArticle.data.slug).href}
          class="block py-2 w-full"
        >
          <span>Next →</span>
          <Preview
            date={nextArticle.data.date}
            title={nextArticle.data.title}
            slug={nextArticle.data.slug}
            hideDate={true}
          />{" "}
        </a>
      )
    }
  </div>
</div>
